body {
  background: linear-gradient(to bottom, #ffffff, #0477dcb6);
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .home {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .profilePic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #4a44ebf8;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .profileLetter {
    font-size: 50px;
    color: #ffffff;
    font-weight: bold;
  }
  
  .userName {
    background-color: #85d8ff;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .logOut {
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
  }
  
  .logOut:hover {
    background-color: #cececf;
  }
  
  .mainContent {

    background-color: rgba(208, 220, 228, 0.64);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 60%;
    height: 100%;
  }
  .addButton {
    background-color: #ff1744;
    padding: 10px 40px;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 20px;
  }
  
  .addButton:hover {
    background-color: #d50000;
  }
  .userTable {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
  }
  
  .userTable th {
    padding: 12px;
    border: none;
  }
  .userTable td{
    padding: 12px;
    border: none;
    background-color: #ffffff;
  }
  
  .userTable th {
    background-color: #4caf4f00;
    color: white;
  }
  
  .userTable tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .editButton, .deleteButton {
    padding: 8px 12px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .editButton {
    background-color: #0288d1;
    color: white;
  }
  
  .deleteButton {
    background-color: #e53935;
    color: white;
  }
  
  .editButton:hover {
    background-color: #0277bd;
  }
  
  .deleteButton:hover {
    background-color: #c62828;
  }
