 .changePasswordContainer {
    max-width: 400px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .changePasswordContainer h2 {
    color: #333;
  }
  
  .changePasswordContainer form {
    display: flex;
    flex-direction: column;
  }
  
  .changePasswordContainer input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .changePasswordContainer button {
    padding: 10px;
    margin-top: 10px;
    background: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .changePasswordContainer button:hover {
    background: #942a2a;
  }
  
  .errorMessage {
    color: red;
    font-weight: bold;
  }
  
  .successMessage {
    color: green;
    font-weight: bold;
  }
  